Day 1/Day1.2_v2.py
Day 1/Day1.2.c
Day 1/KJ1K.txt
Day 2/Day2.1.py
Day 3/Day3.2_v2.py
Day 4/Day4.2_experiment.py
Day 4/Day4.2_timing.py
Day 4/Day4.2.py
Day 4/simple_matrix_viridis.ppm
Day 4/simple_matrix.ppm
bigboy*.txt
Day 9/Day9.2_broken.py
Day 9/Day9.2.py
Day 9/Tiles_and_convex_hull.png
